.feedback {
    padding-bottom: 71px;
    display: flex;
    &-item {
        display: flex;
        flex-direction: row;
        width: 900px;
        margin-top: 100px;
        &:first-child {
            margin-top: 70px;
        }
        &__avatar {
            width: 169px;
            height: 169px;
        }
        &__descr {
            margin-left: 62px;
        }
        &__client {
            &-name {
                font-size: 18px;
                font-weight: 700;
                color: #0d0d0d;
            }
            &-achievement {
                font-size: 14px;
                font-weight: 300;
                color: #646464;
                margin-top: 6px;
            }
            &-text {
                font-size: 16px;
                font-weight: 400;
                color: #0d0d0d;
                margin-top: 19px;
                width: 675px;
            }
        }
    }
}
